<!DOCTYPE html>
<html>
    <head>
        <title>
            Sagar's Blog
        </title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sagar's Blog</a></h1>
        </header>
        <article>
            <time>published: 15.01.2014 22:30</time>
            <h2><a href="">My First post</a></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate, eaque pariatur rerum odit aliquam animi laborum id odio, suscipit expedita accusamus, eligendi quisquam repellat provident possimus quod ipsa iusto.</p>
        </article>
        <article>
            <time>published: 15.01.2014 22:32</time>
            <h2><a href="">My second post</a></h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore voluptate, eaque pariatur rerum odit aliquam animi laborum id odio, suscipit expedita accusamus, eligendi quisquam repellat provident possimus quod ipsa iusto.</p>
        </article>
    </body>
</html>